version: 2.1

orbs:
  docker: circleci/docker@2.0.0

jobs:
  npm_build:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: npm-install
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run:
          name: build
          command: npm build
  docker_build:
    docker:
      - image: circleci/docker@2.0.0
    steps:
      - docker/build:
          image: test/reactjs

workflows:
  build_deploy:
    jobs:
      - npm_build
      - docker_build
