version: 2.1

orbs:
  docker: circleci/docker@2.0.0

jobs:
  build:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - restore_cache:
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: npm-install
          command: npm install
      - save_cache:
          key: v1-dependencies-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run:
          name: Build from source
          command: npm run build
      # - docker/build:
      #     image: test/reactjs

workflows:
  build_deploy:
    jobs:
      - build
