version: 2.1

orbs:
  docker: circleci/docker@2.0.0
  anchore: anchore/anchore-engine@1

jobs:
  build:
    docker:
      - image: circleci/node:12
    environment:
      SHORT_GIT_HASH: $(echo $CIRCLE_SHA1 | cut -c -7)
    steps:
      - checkout
      - restore_cache:
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: npm-install
          command: npm ci
      - save_cache:
          key: v1-dependencies-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run:
          name: Build from source
          command: npm run build
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build container image
          command: 'docker build -t "skl-org/reactjs:<< pipeline.number >>" .'
      - anchore/analyze_local_image:
          dockerfile_path: ./Dockerfile
          policy_bundle_file_path: .circleci/.anchore/anchore_default_policy.json
          image_name: "skl-org/reactjs:<< pipeline.number >>"
          policy_failure: true
          timeout: "500"
      - anchore/parse_reports
      - store_artifacts:
          path: anchore-reports

workflows:
  build:
    jobs:
      - build
